*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;

}
.all_nav_container{
    position: fixed;
    top:0;
    left:0;
    z-index: 50;
    outline:1px solid black;
    
}
.topest_dummy_div{
    padding:8px;
    background-color: white;
   
    
}
.nav_bar_firstdiv{
    padding:8px 16px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: white;
   
   
}

.nav_spoons_img{
    height: 1.6rem;
    display: block;
}

.nav_br_log_img{
    width: 100%;
    display: block;
    padding:0px 10%;
}

.navbar_shop_button{
    font-family: Arial;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #f20c90;
    border: 1px solid #F20C90;
   min-height: 2.5em;
   padding:0 12px;
   font-size: .8em;
   text-align: center;
   border-radius:15px;
   text-transform: uppercase;
}
.nav_shop_button_a{
    text-decoration: none;
    color:white;
   
}
html{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
}
/* .first_section_div{
    position:relative;
    top:70px;
}
.first_section_img{
    width: 100%;
    
} */

.carousel_wrapper{
    width: 100%;
    display: block;
    position: relative;
    top:70px;
    
    
}

.slide_bar_div{
    display: flex;
    overflow-x:auto;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;
    
}
.slide_bar_div img{
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
   
    

}

