*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    border:0px;
    font-family: 'brown-pro-bold',Helvetica,Arial,sans-serif;
    position:0;
}
.nav_first_div{
    /* padding:0px 20px; */
    background-color: white;
    z-index: 10;
    position: fixed;
 
}
.logitech_logo_div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65px;
    align-items: center;
    position:fixed;
    z-index: 10;
    background-color: white;
  
    
}
.nav_logitech_logo_img{
    width:100px;
    height: 35px;
   
    
}
.hamburger_svg{
    position:absolute;
    top:50%;
    transform: translatey(-50%);
    left:20px;
    width:30px;
    height: 30px;;
   
}

/* navbar and header ends here */


.main_first_div{
    position:relative;
    background: linear-gradient(to bottom,rgb(0, 0, 0),rgb(0, 0, 0));
    top:60px;
    margin-bottom:40px;
}

.background_img{
    width:100%;
    height: 350px;
    object-fit: cover;
    display: block;
    opacity:.5;
    margin-bottom:40px;
    z-index: -1;
   
}
.first_heading_div{
    width:100%;
    height: 100%;
    text-align:center;
    position: absolute;
    top:60%;
    transform: translatey(-50%);
    left:0;
    padding-top:40px;
   
    
}
.first_heading_h1{
    padding:0 10px;
    color:white;
   line-height: 1.2;
    font-weight: 550;
    font-size: 2.1rem;
}


.first_heading_input_div{
    width:100%;
    max-width: 610px;
    padding:0 30px;
    position:relative;
    margin:0 auto;
    margin-top:40px;
}

.first_heading_input{
    width: 100%;
    height: 45px;
    border-radius: 30px;
    padding-left:55px;
}
.first_heading_magnifying_glass{
    position:absolute;
    top:13px;
    left:50px;
    height: 20px;
    opacity: .5;
}

/* hero section ends here */
 .dummy_hr{
    margin:20px;
    position:relative;
    top:0;
    bottom:0;
 }

/* section1 starts here */

.section_one_div{
    padding:0 15px;
    text-align: center;
    margin-top:60px;
}


.section_one_findproduct_h2{
    margin-bottom:10px;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    

}

.section_one_first_p{
    margin-bottom:1rem;
    color: #6F7678;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 100;
    font-family: 'brown-pro-light',Helvetica,Arial,sans-serif;
}

.first_section_flex-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first_section_flex-boxitems{
    min-width: 250px;
    min-height: 200px;
    background-color: grey;
    margin-bottom:40px;
}

.first_section_flex-boxitems{
    display:flex;
    flex-direction: column;
    justify-content:center;
}