*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    border:0px;
    font-family: 'brown-pro-bold',Helvetica,Arial,sans-serif;
    position:0;
}
.nav_first_div{
    /* padding:0px 20px; */
    background-color: white;
    z-index: 10;
    position: fixed;
 
}
.logitech_logo_div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65px;
    align-items: center;
    position:fixed;
    z-index: 10;
    background-color: white;
  
    
}
.nav_logitech_logo_img{
    width:100px;
    height: 35px;
   
    
}
.hamburger_svg{
    position:absolute;
    top:50%;
    transform: translatey(-50%);
    left:20px;
    width:30px;
    height: 30px;;
   
}

/* navbar and header ends here */


.main_first_div{
    position:relative;
    background: linear-gradient(to bottom,rgb(0, 0, 0),rgb(0, 0, 0));
    top:60px;
    margin-bottom:40px;
}

.background_img{
    width:100%;
    height: 350px;
    object-fit: cover;
    display: block;
    opacity:.5;
    margin-bottom:40px;
    z-index: -1;
   
}
.first_heading_div{
    width:100%;
    height: 100%;
    text-align:center;
    position: absolute;
    top:60%;
    transform: translatey(-50%);
    left:0;
    padding-top:40px;
   
    
}
.first_heading_h1{
    padding:0 10px;
    color:white;
   line-height: 1.2;
    font-weight: 550;
    font-size: 2.1rem;
   
}


.first_heading_input_div{
    width:100%;
    max-width: 610px;
    padding:0 30px;
    position:relative;
    margin:0 auto;
    margin-top:40px;
}

.first_heading_input{
    width: 100%;
    height: 45px;
    border-radius: 30px;
    padding-left:55px;
}
.first_heading_magnifying_glass{
    position:absolute;
    top:13px;
    left:50px;
    height: 20px;
    opacity: .5;
}

/* hero section ends here */
 .dummy_hr{
    margin:20px;
    position:relative;
    top:0;
    bottom:0;
 }

/* section1 starts here */

.section_one_div{
    padding:0 15px;
    text-align: center;
    margin-top:60px;
    margin-bottom:16px;
    width: 100%;
}


.section_one_findproduct_h2{
    margin-bottom:10px;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    

}

.section_one_first_p{
    margin-bottom:1rem;
    color: #6F7678;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 100;
    font-family: 'brown-pro-light',Helvetica,Arial,sans-serif;
}

.first_section_flex-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 530px )and (max-width: 768px){
   .first_section_flex-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
    margin:0 auto;
   }
   .first_section_flex-boxitems{
    justify-content: center;
    max-width: 250px;
    justify-self: center;
   }
}

@media (min-width: 768px) and (max-width:992px){
    .first_section_flex-boxes{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       max-width: 720px;
       margin:0 auto;
      
    }
    .first_section_flex-boxitems{
        max-width: 250px;
        justify-content: center;
        margin-right: 30px;
    }
}
.first_section_flex-boxitems{
    min-width: 250px;
    min-height: 200px;
    background-color:#F6F6F6;
    margin-bottom:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
@media (min-width:993px) and (max-width: 1199px){
    .first_section_flex-boxes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* grid-template-columns: 1fr 1fr 1fr; */
        max-width: 960px;
        margin:0 auto;
        gap:30px;
    }
    .first_section_flex-boxitems{
        max-width: 250px;
        margin:0px;
        margin-bottom:0px;
    }
}
@media (min-width:1200px){
    .first_section_flex-boxes{
        max-width: 1140px;
        margin:0 auto;
        gap:30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .first_section_flex-boxitems{
        margin:0px;
    }
}


.first_section_mouse_svg{
    min-width: 40px;
    min-height: 80px;
    margin:20px 55px 30px 55px;
    fill:rgba(129, 70, 254, 1)  ;
}
.first_sectin_boxitems_h5{
    font-size:18px;
    font-weight: 500;
    width:190px;
    flex-wrap:wrap;
    text-transform: uppercase; 
    line-height: 1.2;
    color:#333333;
}

/*  first section ends here */

.second_section_first_div{
    padding:30px 65px;
    background-color: #F6F6F6;
}
@media (max-width: 788px){
    .second_section_second_div{
        max-width: 250px;
    }
}
.second_section_second_div{
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:white;
    max-width: 250px;
    margin:0 auto;
}

.second_section_register_product_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.second_section_downloads_div{
    /* margin-top:20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 789px){
    .second_section_second_div{
        flex-direction: row;
        justify-content: center;
        gap:30px;
        max-width: 1140px;
        background-color: #F6F6F6;
    }
    .second_section_register_product_div,.second_section_downloads_div{
        /* min-height: 415px; */
        max-width: 435px;
        min-height: 317px;
        height: 100%;
        width: 100%;
        justify-content: start;
        background-color: white;
        
    }
   
}
.tick_logo_div{
    width:100px;
    height: 100px;
    margin:50px 0px;
}
.tick_logo_svg{
    width: 100%;
    height: 100%;
}
.register_product_div_pdiv{
    text-align: center;
}
.register_product_h3{
   font-size: 16px;
   text-align: center;
   line-height: 1.2;
   font-weight: 600;
}
.register_product_p{
    font-family: 'brown-pro-bold',Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding:5px 0px;
    line-height: 1.5;
    width: 100%;

}
.register_product_buttonsdiv{
    margin:10px 0px;
    width:100%;
}
.second_section_firstbtndiv{
    display: flex;
    justify-content:center;
    align-items: center;
    min-width: 200px;
    min-height: 49px;
    background-color: rgba(33, 192, 252, 1);
    /* color:white; */
}
.second_section_secondbtndiv{
    display: flex;
    justify-content:center;
    align-items: center;
    min-width: 170px;
    min-height: 45px;
    background-color: white;
}
.second_section_btn2_a{
    color:rgba(33, 192, 252, 1);
    border:1px solid rgba(33, 192, 252, 1);
    display: flex;
    justify-content:center;
    align-items: center;
    /* margin-top:20px; */
    /* width: 100%; */
    height: 100%;
    text-decoration: none;
}
@media (max-width: 788px){
    .second_section_secondbtndiv{
        display: flex;
        justify-content:center;
        align-items: center;
        
        background-color: white;
        margin-top:20px;
    }
    .second_section_btn2_a{
        color:rgba(33, 192, 252, 1);
        border:1px solid rgba(33, 192, 252, 1);
        display: flex;
        justify-content:center;
        align-items: center;
        width:100%;
        height: 45px;
        text-decoration: none;
    }
}

.second_section_firstbtndiv1{
    display: flex;
    justify-content:center;
    align-items: center;
    min-width: 200px;
    min-height: 70px;
    background-color: rgba(33, 192, 252, 1);
}

.second_section_btn1_a2{
    max-width: 150px;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    text-decoration: none;
    color:white;
}
.register_product_p2{
    padding:5px;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
   
}

@media (min-width: 789px){
    .register_product_buttonsdiv{
        display: flex;
        width: 100%;
        justify-content: center;

    }
    .second_section_firstbtndiv{
        display: flex;
        justify-content:center;
        min-width: 178px;
        min-height: 4px;
        height: 46px;
        background-color: rgba(33, 192, 252, 1);
       
    }
    .second_section_secondbtndiv{
        /* display: flex;
        justify-content:center;
        align-items: center;
        min-width: 178px;
        /* max-width: 198px; */
        min-height: 4px;
        max-height: 62px;
        background-color: white; 
    }
    .second_section_btn2_a{
        /* color:rgba(33, 192, 252, 1);
        border:.5px solid rgba(33, 192, 252, 1);
        width:100%;
       height: 100%;
        margin-top:0px; */
        width:100%;
        height: 45px;
    }
    .second_section_firstbtndiv1{
        display: flex;
        justify-content:center;
        align-items: center;
        min-width: 2px;
        min-height: 7px;
        height: 46px;
        background-color: rgba(33, 192, 252, 1);
    }
    .second_section_btn1_a2{
        max-width: 420px;
        width:420px;
        line-height: 1.5;
        font-size: 16px;
        text-decoration: none;
        color:white;
       
    }
    .register_product_p2{
        padding:5px;
        font-size: 14px;
        font-weight: 100;
        line-height: 1.5;
       
    }
    .register_product_p{
        font-size: 14px;
        
    
    }
}

.second_section_btn1_a{
    color:white;
    text-decoration: none;
}




/* second section ends here */

.third_section_firstdiv{
    padding:30px 65px;
    background-color:#8146fe;
    padding-bottom:50px;
}

.third_section_firsth3{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom:.5rem;

}
.third_section_phonechat_maindiv{
    display: flex;
    flex-direction: column;
    padding:20px 0px;
    justify-content: center;
    margin:0 auto;
    /* min-width: 250px; */
    max-width: 469px;
   
   
}
@media (min-width:768px) {
    .third_section_phonechat_maindiv{
        display: flex;
        flex-direction: row;
        /* background-color:white; */
        padding:20px 0px;
        gap:20px;
        align-content: center;
        max-width: 900px;
    }
    
}
.headphone_svg{
    width: 70px;
    height: 70px;
    fill :orange;
    margin:27px 78px;
}
.third_section_phonechat_firstdiv{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color: white;
    min-height: 363px;
}
@media (min-width: 768px){
    .third_section_phonechat_firstdiv,.third_section_phonechata_seconddiv{
        background-color: white;
        min-height: 360px;
        max-width: 320px;
    }
}
.third_sec_phone_h1{
    margin-bottom: 16px;
    font-weight: 400;
}
.third_section_phone_p1{
    font-size: 12px;
    font-weight: 500;
    margin:10px;
}
.third_section_phone_p2{
    font-size: 12px;
    font-weight: 500;
    margin:20px 0px;
    
}
.third_section_phonechata_seconddiv{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 2px -2px   2px 2px rgba(0, 0, 0,0.1);
    min-height: 363px;
}

.third_section_chat_firstdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding:0px 10px; */
    /* box-shadow: 0 -5px 10px 0px #e3dbdb; */
}

.chat_svg{
    width: 70px;
    height: 70px;
    fill :blue;
    margin:27px 78px;
}
.third_section_chat_p1{
    font-size: 12px;
    font-weight: 500;
    margin:15px 0px;
    width:100%;
    text-transform: uppercase;
}
.third_section_chat_p2{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    margin:20px 0px;
    text-transform: uppercase;
}
@media (min-width: 576px){
    .third_section_phonechat_maindiv{
        flex-direction: row;
        gap:20px;
       
    }
    .third_section_phonechata_seconddiv{
        min-height: 333px;
        max-height: 343px;
    }
    .third_section_phonechat_firstdiv{
        min-height: 333px;
        max-height: 343px;
    }
}
   
/* third section ends here */
.footer_first_div{
    padding:45px 45px 35px 45px;
    background-color: #252A2C;
}
.footer_first_h3{
    color:white;
    margin-bottom:8px;
}
.footer_items_container{
    margin:10px 0px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    align-content: space-between;
    color:white;
    border-bottom:.1px solid grey;
}
@media (min-width:789px){
    .footer_items_container{
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap:50px;
    }
    .third_section_phonechat_firstdiv,.third_section_phonechata_seconddiv{
        padding:0px 10px;
    }
}
.footer_items{
    display: flex;
    flex-direction: column;
    margin:10px 0px;
   justify-content: center;

}
.footer_items_span{
    margin:15px 0px;
    font-family: 'brown-pro-regular',Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.rights_div{
    margin-top:45px;
}
.rights_span{
    color:white;
    font-weight: 200;
}

